<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sergi Xaudiera. Computational Communication Research on Crisis Informatics and Misinformation">
	<title>⊙ {{ if not .IsHome }}{{ with .Title }}{{ . }} · {{ end }}{{ end }}{{ .Site.Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	<meta name="author" content="Sergi Xaudiera">
	<style type="text/css">
		html {
			max-width: 70ch;
			padding: calc(1vmin + .5rem);
			margin-inline: auto;
			font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
			font-family: system-ui;
		}
	    body :not(:is(h1,h2,h3,h4,h5,h6)) {
    	  line-height: 1.75;
    	}
		span {
			color: #ccc;
		}
	</style>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
