<header>
	{{ if .IsHome }}
	<h1>{{ $.Site.Title }}</h1>
	<h4>crisis informatics. misinformation. infodemics. communication. and all that.</h4>
		<a href="/about/" title="About">About</a> /
		<a href="/research/" title="Research">Research</a> /
		<a href="/publications/" title="Publications">Publications</a> /
		<a href="/reading/" title="Reading">Reading</a>
	{{ end }}
	{{ if not .IsHome }}
	<h1>{{ $.Site.Title }}</h1>
		<a href="{{ .Site.BaseURL }}">← Home</a> / 
		<a href="/about/" title="About">About</a> /
		<a href="/research/" title="Research">Research</a> /
		<a href="/publications/" title="Publications">Publications</a> /
		<a href="/reading/" title="Reading">Reading</a>
	{{ end }}
</header>
