{{ define "main" }}
<main>
	<p>I'm a PhD candidate in Knowledge and Information Society at Universitat Oberta de Catalunya. My interests are in misinformation during emergencies and crisis informatics. I do computational communication research in my current projects I employ social network analysis, ethnography and OSINT tools applied to social science.</p>
	
	<p>I also work for the Government of Catalonia (Barcelona, Spain) as a digital strategist. On this place I can bring the findings of scientific studies into action. Previously, I founded <a href="/numballs/" title="Numballs">numballs</a>, a side-project that allowed sports brands to get meaningful marketing insights based on social media data.</p>

</main>
{{ end }}