{{ define "main" }}
<title>.</title>
	<main>
	<p>I'm a PhD candidate in Knowledge and Information Society at Universitat Oberta de Catalunya. My interests are in misinformation during emergencies and crisis informatics. I do computational communication research in my current projects I employ social network analysis, ethnography and epidiemology applied to social science.</p>
	<p>I also work for the Government of Catalonia (Barcelona, Spain) as a digital strategist. On this place I can bring the findings of scientific studies into action. Previously, I founded <a href="/numballs/" title="numballs">numballs</a>, a side- project that allowed users to get meaningful marketing insights based on social media sports data. Before I had worked as an account executive at the social media agency We Are Social (London, UK) working on digital campaigns and monitoring for large clients, and as a junior software engineer for several companies (Girona, Spain).</p>
	</main>
{{ end }}